@use '../placeholders/root.scss';

.login {
    &__heading {
        margin-top: 1.5rem;
    }

    &__form {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 25rem;

        &__label {
            display: block;
            margin-bottom: .3rem;
        }

        &__input {
            background: none;
            border: none;
            border-bottom: 3px solid root.$primary-black;
            padding-bottom: .3rem;
            width: 100%;

            &::placeholder {
                font-size: .9em;
            }
        }

        &__btn {
            margin-top: 1rem;
            background: none;
            border: 3px solid root.$primary-black;
            border-radius: 10rem;
            text-transform: uppercase;
            font-size: .9em;
            font-weight: 600;
            text-align: center;
            padding: .8rem 1rem;
        }
    }

    &__text {
        text-align: center;
        margin-block: 2rem 1rem;
    }

    &__spotify {
        background: none;
        border: 2px solid root.$accent-light-green;
        border-radius: 10rem;
        padding: .8rem 1rem;
        font-size: .75em;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;
        width: 80%;
        max-width: 25rem;
        margin-inline: auto;

        &-icon {
            font-size: 1.5em;
            color: root.$accent-light-green;
        }
    }
}